*{
    padding: 0;
    margin: 0;
}

main {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#logo{
    width: 200px;
    
}
h1{
    text-shadow:0px 3px 5px rgb(42, 42, 42) ;
    font-size: 60px;
    display: flex;
    justify-content: center;
}
header{
    height: 70px;
    width: 100%;
    background-color: brown;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(42, 42, 42);
    margin-top: 0;
    top:0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    
}
.butts{
    margin-top: 15px;
    width: 70px;
    height: 50%;
    border: none; 
    background-color: transparent;
    cursor: pointer;
    font-style: italic;
    text-shadow:0px 3px 5px rgb(42, 42, 42) ;
    font-size: 18px;
    border-radius:30px ;
    
    
}
.butts:hover{
    
    backdrop-filter: blur(8px);
    box-shadow: 0px 3px 5px rgb(42, 42, 42);
    text-decoration: none;
}

.searchbar-icon {
    position: absolute;
    left:  720px;
    top: 30px;
    background-color: transparent;
    color: #5b0312;
    cursor: pointer;
  }
  input[type=text] {
    padding: 9px;
    border: 6px;
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.09);
    border-radius: 30px;
    box-shadow: 0px 3px 5px rgb(42, 42, 42);
  }
  input[type=file] {
    padding: 9px;
    border: 6px;
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.09);
    border-radius: 30px;
    box-shadow: 0px 3px 5px rgb(42, 42, 42);
  }
  body{
    background-color:rgb(100, 95, 95);
  }
 #boxs{
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
 }
 .box{
    border-radius: 20px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: brown;
 }
#addbtn{
    width: 60px;
    height: 20px;
    border-radius: 30px;
    border: none;
    background-color: #97071f;
    box-shadow: 0px 3px 5px rgb(42, 42, 42);
    cursor: pointer;
}
#addbtn:hover{
    background-color: darkgrey;
}
#modifybtn{
    width: 60px;
    height: 20px;
    border-radius: 30px;
    border: none;
    background-color: #97071f;
    box-shadow: 0px 3px 5px rgb(42, 42, 42);
    cursor: pointer;
}
#modifybtn:hover{
    background-color: darkgrey;
}